{
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "rules": {
        "strict": 0,
        "linebreak-style": [
            "error",
            "windows"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "react/prop-types": 0,
        "arrow-parens": ["error", "as-needed"],
        "react/jsx-props-no-spreading": 0,
        "react/destructuring-assignment": 0,
        "arrow-body-style": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-unused-expressions": ["error", { "allowShortCircuit": true }]
    }
}
