.case-study {
    padding-top: 48px;
    text-align: left;

    @include MQ(ML) {
        padding-top: 8px;
    }

    @include MQ(M) {
        text-align: center;
    }

    h1 {
        margin-bottom: 60px;
        font-size: 60px;
        line-height: 64px;

        @include MQ(ML) {
            font-weight: 900;
            font-size: 48px;
            line-height: 52px;
            margin-bottom: 40px;
        }

        @include MQ(M) {
            letter-spacing: -1px;
        }

        @include MQ(XXS) {
            font-size: 42px;
        }
    }
}

.topLayer {
    height: 112px;
}

.back-arrow-link {
    display: inline-block;
    color: $black;
    font-size: 14px;
    transition: color .3s;
    padding-left: 20px;
    margin-right: 20px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;

    &:hover {
        color: $green;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 9px;
        height: 9px;
        border: 2px solid transparent;
        border-radius: 3px;
        border-bottom-color: currentColor;
        border-left-color: currentColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        &:hover {
            border-color: $green;
        }
    }
}

.front-img-wrap {
    margin: 0 auto;
    max-width: 1550px;
    margin-bottom: 30px;


    @include MQ(ML) {
        margin-bottom: 40px;
    }

}

.content-holder {
    padding-top: 30px;
    margin-bottom: 60px;
    display: flex;
    text-align: left;

    @include MQ(ML) {
        flex-direction: column;
        padding-top: 0;
    }

    aside {
        width: 160px;
        margin-left: 40px;
        order: 2;
        flex-shrink: 0;
        margin: 0 0 0 30px;

        @include MQ(ML) {
            width: 200px;
        }

        @include MQ(ML) {
            order: 0;
            margin-left: 0;
            width: 100%;
        }

        span {
            display: block;
            color: rgba(12,12,12,.6);
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            margin-bottom: 7px;
        }

        .source-link {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $black;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.content {
    h2 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 52px;

        @include MQ(L) {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 63px;
        }
    }

    p {
        color: rgba(12,12,12,.6);
        font-size: 16px;
    }
}

.block {
    margin-bottom: 45px;

    @include MQ(ML) {
        margin-bottom: 30px;
    }

    ul {
        margin-left: 0;

        @include MQ(ML) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px -3px;
        }
    }

    li {
        list-style: none;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;

        @include MQ(ML) {
            width: calc(50% - 10px);
            margin: 0 5px 3px;
        }
    }
}

.pageSwitch {
    display: block;
    background-color: $green;
    padding: 60px 0 72px;
    @include MQ(ML) {
        display: none;
    }
}

.page-switch-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1050px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    a {
        display: inline-block;
        position: relative;
        margin-top: 24px;
        max-width: calc(50% - 20px);
        font-size: 32px;
        line-height: 38px;
        color: #0c0c0c;
        font-weight: 600;
        letter-spacing: -1px;
        text-decoration: none;
        outline: none;

        &::before {
            content: '';
            position: absolute;
            top: -24px;
            width: 49px;
            height: 36px;
            color: rgba(12,12,12,.6);
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0;
            pointer-events: none;
        }

        svg {
            position: absolute;
            top: 3px;
            width: 15px;
            height: 28px;
            fill: currentColor;
        }
    }

    .prev {
        padding-left: 33px;

        &::before {
            content: 'Previous';
            left: 33px;
        }

        svg {
            left: 0;
        }
    }

    .next {
        margin-left: auto;
        text-align: right;
        padding-right: 33px;

        &::before {
            content: 'Next';
            right: 30px;
        }

        svg {
            right: 0;
        }
    }
}

.hidden {
    visibility: hidden;
}


