$primary-color: #444;
$secondary-color: #4e4e4e;
$landing-color: #3a4052;
$error-color: #ff4a4a;
$border-color: #ebebeb;
$green: #3AAFBD;

$primary-font: 'Noto-Serif';

$box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
            rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
            rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;

/*********************
*breakpoints
***********************/
$XXS:   374px;
$XS:    420px;
$S:     480px;
$M:     767px;
$ML:	992px;
$L:     1200px;
$maxL:    $L + 1px;