$primary-color: #444;
$secondary-color: #4e4e4e;
$landing-color: #3a4052;
$error-color: #ff4a4a;
$border-color: #ebebeb;
$green: #3AAFBD;

$primary-font: 'Noto-Serif';

$box-shadow: rgba(202, 150, 39, 0.25) 0px 64px 64px 0px,
            rgba(202, 150, 39, 0.25) 0px 32px 32px 0px,
            rgba(202, 150, 39, 0.25) 0px 16px 16px 0px,
            rgba(202, 150, 39, 0.25) 0px 8px 8px 0px, 
            rgba(202, 150, 39, 0.25) 0px 4px 4px 0px;

/*********************
*breakpoints
***********************/
$XXS:   374px;
$XS:    420px;
$S:     480px;
$M:     767px;
$ML:	992px;
$L:     1200px;
$maxL:    $L + 1px;