.intro-box {
    padding: 6rem 0 0;
    min-height: 500px;
    text-align: left;
    height: calc(100vh - 130px);
    position: relative;
    @include fadeIn;

    & h1 {
        display: none;
    }
}

.h1 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 32px;

    @include MQ(S) {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}

.pretitle {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #3AAFBD;
}

.text {
    font-size: 1.8rem;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    line-height: 44.8px;
    margin-bottom: 3rem;

    @include MQ(S) {
        font-size: 1.5rem;
    }
}

.text-decor {
    position: relative;
    color: $secondary-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        &::after {
            background-color: $yellow;
            transform: scaleX(1);
        }
    }

    &::before {
        position: absolute;
        content: '';
        height: .5em;
        background-color: $secondary-color;
        left: 0;
        right: 0;
        opacity: .1;
        bottom: 0;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: '';
        height: .5em;
        background-color: $yellow;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: all .3s cubic-bezier(.86,0,.07,1);
    }

}

.logo-wrap {
    display: flex;
    justify-content: start;

    & a {
        display: inline-flex;
        width: 40px;
        height: 40px;
        background: $secondary-color;
        margin: 0 6px;
        color: white;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 24px;

        &:hover {
            cursor: pointer;
            background: #ffcd3c;

            & svg {
                transform: scale(1.6) rotate(25deg);
            } 
        }
    }

    & svg {
        transition: 0.4s all;
    }
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    cursor: pointer;
}

.project {
    padding-top: 90px;

    h2 {
        text-align: left;
        font-size: 57px;
        line-height: 88px;
        font-weight: 700;
    }
}

