.header {
    padding: 2rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    z-index: 1;
    -webkit-transition-property: height,padding,background-color,box-shadow;
    transition-property: height,padding,background-color,box-shadow;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    @include MQ(S) {
        padding: 2rem 1rem 1rem;
        margin-bottom: 1rem;
    }

    &.stickHeader {
        box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
        padding-top: 1rem;
    }
}


.headerNav {
    display: flex;
    align-items: center;
}

.logoContainer {
    width: 220px;
    height: 40px;
    margin-bottom: 0;
    margin-left: 18px;

    @include MQ(S) {
        margin-left: 0;
        width: 136px;
    }
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
    display: block;

    img {
        width: 100%;
        height: 100%;
    }
}

.header-nav {
    @include MQ(ML) {
        display: none;
    }
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #666666;
    font-size: .8rem;
    margin-right: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    padding: 2px 0;
    &:hover {
        color: #666666;
    }

}

.active-nav-item {
    color: #333333;
}

.menu-btn {
    display: none;

    &:hover {
        .btn-line-short {
            width: 28px;
        }
    }

    @include MQ(ML) {
        display: block;
        position: absolute;
        z-index: 3;
        right: 48px;
        top: 50px;
        cursor: pointer;
        @include easeOut;
    }

    @include MQ(S) {
        top: 38px;
        right: 20px;
    }

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $landing-color;
        @include easeOut;
    }

    .btn-line-short {
        width: 20px;
    }

      //Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);

        .menu-btn {
            top: 40px;

            @include MQ(S) {
                top: 35px;
            }
        }

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}
