.header {
    padding: 2rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    z-index: 1;
    @include ease;

    @include MQ(ML) {
        padding-left: 1.5rem;
    }

    @include MQ(S) {
        padding: 2rem 1rem 1rem;
        margin-bottom: 1rem;
    }

    &.stickHeader {
        box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
        padding-top: 1rem;

        @include MQ(ML) {
            padding-top: 12px;
            padding-bottom: 6px;
        }
    }
}

.logoContainer {
    width: 220px;
    height: 40px;
    margin-bottom: 0;
    margin-left: 18px;

    @include MQ(S) {
        margin-left: 0;
        width: 146px;
    }
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
    display: block;

    img {
        width: 100%;
        height: 100%;
    }
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #666666;
    font-size: .8rem;
    margin-right: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    padding: 2px 0;
    &:hover {
        color: #666666;
    }

}

.active-nav-item {
    color: #333333;
}

.toggler {
    position: absolute;
    top: 18px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    @include ease;

    @include MQ(ML) {
        width: 65px;
        height: 65px;
        right: 20px;
    }

    @include MQ(S) {
        width: 60px;
        height: 60px;
        right: 4px;
    }
}

.stick-toggler {
    top: -1px;
    @include ease;
}

.hamburger {
    position: absolute;
    top: 18px;
    z-index: 1;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    @include ease;

    @include MQ(ML) {
        width: 65px;
        height: 65px;
        right: 20px;
    }

    @include MQ(S) {
        width: 60px;
        height: 60px;
        right: 4px;
    }

    & > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 3px;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;

        &::after {
            top: 10px;
        }
    }
}

.stick-hamburger {
    top: -1px;
    @include ease;
}

/* Hamburger Lines - Top & Bottom */
.hamburger > div::before,
.hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    line-height: 20px;
    background: inherit;
}

/* Moves Line Down */
.hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: #fff;
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.header-nav {
    @include MQ(ML) {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        display: none;
    }
}

.toggler:checked ~ .header-nav {

    @include MQ(ML) {
        display: block;
        position: absolute;
        width: 100vh;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 1;
        background-color: #000000;
        transform: translate3d(0, 0, 0);
        transition: opacity .5s linear .25s,transform .5s;

        & .nav-wrap {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            flex-direction: column;
        }

        & .nav-list {
            flex-direction: column;
            justify-content: center;
        }

        & .nav-item {
            padding: 0 15%;
            color: #fff;
            font-size: 2.6rem;
            position: relative;

            li {
                padding: 1.5rem;
            }
        }

        & .active-nav-item {
            &::after {
                content: '';
                position: absolute;
                height: 8px;
                background-color: $green;
                left: 0;
                right: 70%;
                bottom: 0;
            }
        }

    }

}
