.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topLayer {
    height: 112px;
}

.content {
    flex-grow: 1;

    main {
        max-width: 1050px;
        margin: 30px auto 0;
        padding: 1rem 2rem;
        text-align: center;

        @include MQ(S) {
            padding: 1rem 1rem;
        }
    }
}